.App {
  padding: 40px 50px;
}

.App_title {
  text-align: center;
}


.loading {
  text-align: center;
  color: rebeccapurple;
  font-size: 20px;
}

.error {
  text-align: center;
  color: red;
  font-size: 20px;
}